{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>Your privacy is important to us. This privacy policy explains how we collect, use, and protect your personal information.</p>
        
        <p style="font-weight: bold;">Information We Collect</p>
        <p>We may collect personal information such as your name, email address, and other details when you register.</p>
        
        <p style="font-weight: bold;">How We Use Your Information</p>
        <p>Your information is used to provide and improve our services, communicate with you, and ensure compliance with our policies.</p>
        
        <p style="font-weight: bold;">Data Protection</p>
        <p>We implement security measures to protect your personal information from unauthorized access.</p>
        
        <p style="font-weight: bold;">User Rights</p>
        <p>You have the right to access, correct, or delete your personal information.</p>
        
        <p style="font-weight: bold;">Changes to This Policy</p>
        <p>We may update this privacy policy from time to time. We will notify you of any changes.</p>
        
        <p style="font-weight: bold;">Contact Us</p>
        <p>If you have any questions about this privacy policy, please contact us at rhysgregory90@gmail.com.</p>
    </div>
{% endblock %} 