{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
<div class="error-page">
    <div class="error-content">
        <h1>Oops! Something went wrong</h1>
        <div class="error-details">
            <p>{{ exception.message }}</p>
        </div>
        <div class="error-actions">
            <a href="{{ path('app_books') }}" class="btn btn-primary">
                <i class="fas fa-home"></i> Return to Homepage
            </a>
        </div>
    </div>
</div>
{% endblock %}